@import url('https://fonts.googleapis.com/css2?family=poppins:wght@500;600;700');
body{
    font-family: "poppins", sans-serif, Arial, Helvetica;
}
:root{
    --bg-clr: #ecf0f3;
    --box-shd-up: #fff;
    --box-shd-down: #cbced1;
    --form-focus-bx-sd: #00000000;
    --form-focus-border: #000;
    --btn-clr: #8c000c;
    --btn-clr-hov: #6d040d;
    /* --bg-clr: #2b2a33;
    --card-clr : #42414d;
    --inp-clr: #38383d; */
}
.main-con{
    background: var(--bg-clr);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .75rem;
}

.box{
    background: var(--bg-clr);
    box-shadow: 13px 13px 20px var(--box-shd-down), -13px -13px 20px var(--box-shd-up);
    border-radius: 7px;
    width:78%;
    height: max-content;
    padding: 2rem 0;
}
h4{
    color: var(--btn-clr);
}
.group{
    margin-bottom: 1rem;
}
.group label{
    font-weight: 700;
    margin-bottom: .5rem;
}
.group a{
    text-decoration: none;
}
.form-control:focus, .btn:focus {
    box-shadow: 0 0 0 0 #00000000 !important;
    border: 1px solid black!important;
}
.sub-btn{
    background: var(--btn-clr)!important;
}
.sub-btn:hover{
    background: var(--btn-clr-hov)!important;
}

/* hiding number spinner in input type number */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
@media (min-width:992px) {
    .box{
        width:28%;
    }
}