/* start-> footer */
footer{
    background-image: url(../images/three-wave.png);
    height: 525px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }
  .enquiry-con{
    max-width: 300px;
    height: max-content;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;
    background: linear-gradient(45deg, rgba(167, 167, 189), transparent);
    border-radius: 10px;
    position: relative;
    z-index: 99;
  }
  .fm-group{
    margin-bottom: 1.5rem;
  }
  .fm-group input{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(35, 35, 90);
    color: rgba(1, 22, 39);
    font-size: 1rem;
  }
  .fm-group textarea{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(35, 35, 90);
    color: rgba(1, 22, 39);
    font-size: 1rem;
  }
  .fm-group1{
    margin-bottom: 0;
    display: flex;
  }
  .fm-group1 span{
    display: inline-block;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  #enquiry-sub-btn{
    cursor: pointer;
    width: 60px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: rgba(201, 201, 241);
    color: rgba(1, 22, 39);
    font-weight: 600;
    position: relative;
  }
  #enquiry-sub-btn>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
  }
  /* boot svg icon */
  .bi-send-fill{
    cursor: pointer;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
    font-size: 1rem;
    color: rgba(1, 22, 39);
  }
  
  .fm-group1 span:hover .bi-send-fill{
    top:50%;
  }
  .fm-group1 span:hover #enquiry-sub-btn>span{
    top: -160%;
  }
  .fm-group input::placeholder,
  .fm-group textarea::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(1, 22, 39);
    opacity: 1; /* Firefox */
  }
  
  .fm-group input:-ms-input-placeholder,
  .fm-group textarea:-ms-input-placeholder
   { /* Internet Explorer 10-11 */
    color: rgba(1, 22, 39);
  }
  
  .fm-group input::-ms-input-placeholder,
  .fm-group textarea::-ms-input-placeholder
   { /* Microsoft Edge */
    color: rgba(1, 22, 39);
  }
  .contact-con{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(216, 215, 217);
  }
  .phone-num,
  .social-media{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .phone-num div{
    display: flex;
  }
  .phone-num p{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .boot-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* width: 40px;
    height: 40px; */
    background: rgba(173, 181, 189);
    color: black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in;
  }
  .boot-icon i{
    font-size: 1rem;
    /* font-size: 1.5rem; */
    padding: 0 0.45rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .tele-icon,
  .whatsapp-icon{
    margin-right: 5px;
  }
  .sm-vr-line{
    width: 1px;
    background: grey;
    margin: 0 10px;
  }
  .icon-mx{
    margin-top: 1px;
  }
  .tele-p:hover .tele-icon,
  .tele-icon:hover{
    background: rgba(255, 183, 3);
    color: white;
  }
  .whapp-p:hover .whatsapp-icon,
  .whatsapp-icon:hover{
    background: rgba(37, 211, 102);
    color: white;
  }
  .insta-icon:hover{
    background: rgba(240, 148, 51); 
    background: -moz-linear-gradient(45deg, rgba(240, 148, 51) 0%, rgba(230, 104, 60) 25%, rgba(220, 39, 67) 50%, rgba(204, 35, 102) 75%, rgba(188, 24, 136) 100%); 
    background: -webkit-linear-gradient(45deg, rgba(240, 148, 51) 0%,rgba(230, 104, 60) 25%,rgba(220, 39, 67) 50%,rgba(204, 35, 102) 75%,rgba(188, 24, 136) 100%); 
    background: linear-gradient(45deg, rgba(240, 148, 51) 0%,rgba(230, 104, 60) 25%,rgba(220, 39, 67) 50%,rgba(204, 35, 102) 75%,rgba(188, 24, 136) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
  }
  .you-icon:hover{
    background: rgba(241, 241, 241);
  }
  .insta-icon a:hover{
    color: white;
  }
  .you-icon a:hover{
    color: rgba(196, 48, 43);
  }
  
  .bg-drone-icons{
    background-image: url(../images/drone-icon.svg);
    background-repeat: no-repeat;
    width: 90px;
    height: 30px;
    background-size: contain;
    transform: rotate(37deg);
    position: absolute;
    right: 1%;
    top: 0%;
    transition: all .3s ease-in-out;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #011627 !important;
  }
  .copyright{
    position: absolute;
    bottom: 0px;
    left: 15px;
    font-size: 1rem;
    color: rgba(157, 150, 150);
  }
  /* end -> footer */

  /* media query */
  @media (min-width:576px){
    .enquiry-con{
        max-width: 350px;
    }
    .bg-drone-icons {
    width: 100px;
    height: 35px;
    right: 2%;
    top: 5%;
    }
    .copyright{
    bottom: 10px;
    }
  }
@media (min-width:768px){    
  .enquiry-con {
    min-width: 550px;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .enquiry-con form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fm-group1{
    flex-basis: 100%;
  }
  .lg-flex{
    margin-bottom: 1.7rem;
  }
  .boot-icon {
    width: 35px;
    height: 35px;
  }
}
@media (min-width:1200px){
  .bg-drone-icons {
    width: 180px;
    height: 65px;
    transform: rotate(31deg);
  }
}