html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  font-family: "Hammersmith One", sans-serif;
}

a {
  color: #1f1f1f;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  box-sizing: 0 0 0 0 !important;
  outline: none;
  box-shadow: 0 !important;
}

header {
  /* background-image: url(../images/bann.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; */
  background: #23235a;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.header {
  width: 100%;
  /* position: absolute; */
  z-index: 999;
}

.navbar-brand img {
  width: 115px;
}

/* hamburger */
.navbar-toggler:focus {
  box-sizing: 0 0 0 0 !important;
  outline: none;
}
.navbar-toggler,
.navbar-toggler-icon {
  position: relative;
  border: none;
}
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  width: 40px;
  height: 3px;
  border-radius: 50px;
  background: #fff;
}
.navbar-toggler-icon::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
}
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
}
.navbar-nav {
  width: 53%;
  justify-content: space-between;
  padding-right: 4rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:focus {
  color: #000 !important;
  background: #fff;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #ececed;
}
.dropdown-item p {
  white-space: normal;
}
@media screen and (min-width: 992px) {
  .dropdown-item p {
    white-space: nowrap;
  }
}
.dropdown-menu {
  margin-top: 0;
}
.drop-link.show {
  background: #fff;
  color: black !important;
}
.display {
  display: block;
}
.navbar {
  padding: 0 1rem;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.nav-link {
  padding: 1.8rem 2rem;
}
.form-control {
  border-radius: 0;
}
.search {
  background: #323279;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
}

/* banner */
.color {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  background-color: #353fa5;
  mix-blend-mode: color-burn;
}
.banner {
  height: 100vh;
  overflow: hidden;
}
.banner-img {
  background-image: url(../images/bann-c.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
}
.banner-img::before {
  position: fixed;
}
@font-face {
  font-family: "elianto";
  src: url(../fonts/Elianto-Regular.ttf);
  font-style: normal;
}
.banner-text {
  display: none;
  max-width: 590px;
  height: 210px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -284px;
  text-align: center;
  font-family: elianto;
  font-weight: 700;
  color: #23235a;
  /* backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
  -moz-backdrop-filter:blur(38px);
  -ms-backdrop-filter:blur(38px); */
  border-top: 4px solid #23235a;
  border-left: 4px solid #23235a;
  border-right: 4px solid #23235a;
}
/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.banner-text::before {
  content: "";
  border-bottom: 4px solid #23235a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 158px;
  transition: all 0.3s ease;
}
.banner-text::after {
  content: "";
  border-bottom: 4px solid #23235a;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 158px;
  transition: all 0.3s ease;
}
.banner-link:hover .banner-text::before,
.banner-link:hover .banner-text::after {
  width: 220px;
}

.banner-text h1 {
  font-size: 3.5rem;
}
.banner-text h1 b {
  color: #000;
}
.banner-heading {
  padding: 2rem;
  /* border: 4px solid #23235a; */
  /* border-top: 4px solid #23235a;
  border-left: 4px solid #23235a;
  border-right: 4px solid #23235a; */
}

.banner-link {
  margin-top: -36px;
}
.banner a {
  background: #23235a;
  border: 1px solid #23235a;
  color: white;
  padding: 0.7rem 2rem;
  margin: 0.5rem 0;
}
.banner a:hover {
  text-decoration: underline;
}

/* Learn How To Repair Any Gadget */
.animate-text-con {
  background-image: url(../images/svg-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 253px;
  position: relative;
  /* min-height: 467px; */
}

.animate,
.animate-2 {
  font-size: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-left: 33px;
  line-height: 1;
  width: calc(100% - 15px);
}
.animate {
  top: 34px;
}
.animate-2 {
  bottom: 94px;
  font-size: 16px;
  padding-left: 29px;
}
.learn-text {
  text-align: center;
}
.learn-text h3{
  text-align: center;
  border-bottom: 1px solid #7d75ff45;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 6px;
}
.learn-text h3{
  font-size: 1rem;
}
.learn-text div{
  margin-top: 10px;
}
.learn-links{
  color: #6c63ff;
}
.animate span,
.animate-2 span {
  display: inline-block;
}

.animate span:nth-of-type(2),
.animate-2 span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3),
.animate-2 span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4),
.animate-2 span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5),
.animate-2 span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6),
.animate-2 span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7),
.animate-2 span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8),
.animate-2 span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9),
.animate-2 span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10),
.animate-2 span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11),
.animate-2 span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12),
.animate-2 span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13),
.animate-2 span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14),
.animate-2 span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15),
.animate-2 span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16),
.animate-2 span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17),
.animate-2 span:nth-of-type(17) {
  animation-delay: 0.8s;
}

.four span {
  /* color: #8d6a00; */
  color: #000;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 1.5s forwards;
}

@keyframes revolveDrop {
  10% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* media query */

@media screen and (min-width: 440px) {
  .animate-text-con {
    min-height: 382px;
  }
  .animate {
    font-size: 26px;
    top: 13%;
    padding-left: 60px;
  }
  .animate-2 {
    bottom: 37%;
    font-size: 23px;
    padding-left: 52px;
  }
}

@media (min-width: 576px) {
  .learn p {
    font-size: 1rem;
  }
  .learn-text h3 {
    font-size: 1.5rem;
}
}
@media (min-width: 768px) {
  .learn p {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .learn p {
    /* font-size: ; */
  }
  .learn-text {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;

  }
  .learn-text h3{
    font-size: 1.75rem;
  }
  .learn-text div{
    margin-top: -20px;
  }
  .learn-text div p:nth-of-type(2) {
    text-indent: 155px;
  }
}
@media (min-width: 1200px) {
  .learn p {
    /* font-size: ; */
  }
}

@media (max-width: 1150px) {
  .navbar-nav {
    padding-right: 2rem;
  }
}

@media (max-width: 1030px) {
  .navbar-nav {
    width: 60%;
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    padding-top: 1rem;
  }
  .nav-link {
    padding: 0.2rem 0;
  }

  form {
    margin-bottom: 2rem;
  }
}
