@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  margin: 0;
}
section {
  scroll-snap-align: start;
  margin-bottom: 4rem;
}
/* banner */
.color {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  background-color: #353fa5;
  mix-blend-mode: color-burn;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bann.jpg);
  background-repeat: no-repeat;
  background-position: 52% !important;
  background-size: cover;
  overflow: hidden;
}
@font-face {
  font-family: "elianto";
  src: url(../fonts/Elianto-Regular.ttf);
  font-style: normal;
}
.banner-text-con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  text-align: center;
  height: 135px;
  border-top: 4px solid #23235a;
  border-left: 4px solid #23235a;
  border-right: 4px solid #23235a;
}
/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.banner-text::before {
  content: "";
  border-bottom: 4px solid #23235a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  transition: all 0.3s ease;
}
.banner-text::after {
  content: "";
  border-bottom: 4px solid #23235a;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  transition: all 0.3s ease;
}
/* .banner-link:hover .banner-text::before,
.banner-link:hover .banner-text::after {
  width: 220px;
} */
.full-line.banner-text::before,
.full-line.banner-text::after{
  width: 100%;
}

.banner-text h1 {
  font-size: 1.5rem;
  /* font-size: 3.5rem; */
}
.banner-text h1 b {
  color: #000;
}
.banner-heading {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-link {
  position: absolute;
  bottom: -18px;
  z-index: 5;
}
.banner a {
  background: #23235a;
  border: 1px solid #23235a;
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none!important;
  /* margin: 0.5rem 0; */
}
.banner a:hover {
  text-decoration: underline;
}

/* start -> Learn How To Repair Any Gadget */
.h2,
h2 {
  font-size: 1.5rem;
}
.content-hr {
  margin: 1rem auto 2.8rem;
}
.learn-img-con {
  margin: 0 auto 0.6rem;
  max-width: 330px;
}
.learn-img-con img {
  /* max-width: 220px; */
  width: 100%;
  flex-basis: 100%;
}
.learn-btn-con {
  width: max-content;
  margin: auto;
}
.learn {
  /* background: #c4c4ff; */
  color: #4c4646;
}
.learn-text {
  height: max-content;
  margin-bottom: 1rem;
}
.learn p {
  font-size: 1rem;
  text-align: center;
}
.learn-links {
  color: #6c63ff;
}
.learn-btn {
  background: #6c63ff;
  color: white;
}
.learn-btn:hover {
  background: #4941d1;
  color: white;
}
.learn-margin {
  margin-bottom: 4rem;
}
/* animation */
.ani-slide {
  overflow: hidden;
}
.ani-slide-left,
.ani-slide-right {
  visibility: hidden;
}
/* end -> Learn How To Repair Any Gadget */

/* start -> blog cards by swiper */
.tech-news {
  width: 100%;
}
.card {
  padding: 0.1rem;
  box-shadow: 0px 11px 16px -12px #000;
  background-color: #d3cfcf38;
  border-radius: 1.25rem;
}
.card-title {
  color: #363636;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 440px;
}
/* .section-tech{
  padding-top: 2.7rem;
} */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: max-content !important;
  height: max-content !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  border-radius: 1.25rem;
}
.swiper-slide img {
  border-radius: 1.25rem 1.25rem 0 0;
}
.card-body {
  padding: 1rem;
}
.swiper-link {
  color: #353fa5;
  font-weight: 600;
}
.swiper-slide {
  opacity: 0.3;
}
.swiper-slide.swiper-slide-visible.swiper-slide-active {
  opacity: 1;
}
:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: #23235a !important;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  margin-top: 0 !important;
  top: unset !important;
  bottom: 15px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30% !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 30% !important;
  /* right: auto; */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 15px !important;
}
/* end -> blog cards by swiper */

/* start -> products */

:root {
  --pro-width: 290px;
  --pro-height: 400px;
}
.product-con {
  width: var(--pro-width);
  height: var(--pro-height);
  margin: auto;
  background: #8d94b6;
  border-radius: 10px 10px 10px 50px;
  box-shadow: -4px 4px 12px 0 #000000b0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
}
.product-con video {
  width: 100%;
  display: block;
}
.product-vid {
  width: 100%;
  height: 41%;
}
.product-details-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 59%;
  padding: 1rem 0;
}

.product-details {
  width: 90%;
  height: 100%;
  background: #e9ebf5;
  border-radius: 10px 10px 10px 50px;
  padding: 0.5rem;
}
.product-name {
  color: #000;
}
.product-details p {
  display: none;
}
.product-details table {
  font-size: 13px;
  text-align: left;
  margin: auto;
  color: #363636;
}
.product-buy-seemore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-price {
  color: #383837;
  font-weight: 600;
  padding-left: 0.25rem;
}
.product-btn {
  background-color: #707ecb;
  border-color: #5f7ad9;
  color: white;
}
.product-btn:hover,
.product-btn:focus {
  background-color: #4a5dc9;
  color: white;
}
.product-details h6,
.product-details table {
  margin-bottom: 0.7rem;
}
.tiny-text {
  font-size: 12px;
  color: #746e6e;
}
/* end -> products */

/* start-> footer */

footer{
  background-image: url(../images/three-wave.png);
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
}
.achievement-con{
}
.achievement-con h3{
  width: 80%;
  height: max-content;
  text-align: center;
  padding: 1rem 1.5rem;
  background: #8d94b6;
  border-radius: 10px;
  margin: auto;
  font-size: .7rem;
}
.achievement-con h3 a{
  font-family: 'Poppins';
  color: #FFF447;
}
.enquiry-con{
  width: max-content;
  height: max-content;
  padding: 4rem 2rem 0 2rem;
  margin: auto;
}
.fm-group{
  margin-bottom: 1.5rem;
}
.fm-group input{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #edf2f4;
  color: #011627;
}
.fm-group textarea{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #edf2f4;
  color: #011627;
}
.fm-group1{
  margin-bottom: 0;
}
#enquiry-sub-btn{
  border: 2px solid #edf2f4;
  width: 50%;
  margin: auto;
  display: block;
}
.fm-group input::placeholder,
.fm-group textarea::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #011627;
  opacity: 1; /* Firefox */
}

.fm-group input:-ms-input-placeholder,
.fm-group textarea:-ms-input-placeholder
 { /* Internet Explorer 10-11 */
  color: #011627;
}

.fm-group input::-ms-input-placeholder,
.fm-group textarea::-ms-input-placeholder
 { /* Microsoft Edge */
  color: #011627;
}
.contact-con{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d8d7d9;
}
.phone-num,
.social-media{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}
.phone-num div{
  display: flex;
}
.phone-num p{
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.social-media{}
.social-media h5{}
.social-media span{}

.boot-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  /* width: 40px;
  height: 40px; */
  background: #adb5bd;
  color: black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.boot-icon i{
  font-size: 1rem;
  /* font-size: 1.5rem; */
  padding: 0 0.45rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tele-icon,
.whatsapp-icon{
  margin-right: 5px;
}
.sm-vr-line{
  width: 1px;
  background: grey;
  margin: 0 10px;
}
.icon-mx{
  margin-top: 1px;
}
.tele-p:hover .tele-icon,
.tele-icon:hover{
  background: #ffb703;
  color: white;
}
.whapp-p:hover .whatsapp-icon,
.whatsapp-icon:hover{
  background: #25D366;
  color: white;
}
.insta-icon:hover{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
.you-icon:hover{
  background: #f1f1f1;
}
.insta-icon a:hover{
  color: white;
}
.you-icon a:hover{
  color: #c4302b;
}
/* end -> footer */

/* media query */

@media (min-width: 576px) {
  .learn p {
    font-size: 1.2rem;
  }
  .banner-text {
    height: 157px;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 77px;
  }
}
@media (min-width: 768px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 80px;
  }
  .learn-margin {
    margin-bottom: 0;
  }
  .product-con {
    width: calc(var(--pro-width) + 160px);
    height: calc(var(--pro-height) + 100px);
    font-size: 17px;
  }
  .product-vid {
    height: 51%;
  }
  .product-details-con {
    height: 48%;
  }
  .product-details h6,
  .product-details table {
    margin-bottom: 0.85rem;
  }
  .product-name {
    font-size: 1.2rem;
  }
  .product-details table {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 36% !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 36% !important;
    /* right: auto; */
  }
  .product-con {
    display: flex;
    flex-flow: row-reverse;
    height: 236px;
    width: 870px;
  }
  .product-vid,
  .product-details-con {
    height: 100%;
  }
  .product-con video {
    width: 105%;
  }
  .product-details {
    padding: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .banner-text {
    height: 211px;
  }
  .banner-link {
    bottom: -21px;
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .banner a {
    padding: 0.7rem 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 135px;
  }
  .product-con {
    height: 281px;
    width: 1000px;
    font-size: 20px;
  }
  .product-con video {
    width: 100%;
  }
  .product-details {
    padding: 1.2rem;
  }
  .product-name {
    font-size: 1.4rem;
  }
  .product-details table {
    font-size: 16px;
  }
  .product-btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
}

/* animations */
.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.pulsate-fwd{-webkit-animation:pulsate-fwd .5s ease-in-out both;animation:pulsate-fwd .5s ease-in-out both}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 16:33:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}