@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
body {
  color: rgba(102, 102, 102);
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  margin: 0;
  font-family: 'poppins';
}
section {
  scroll-snap-align: start;
  margin-bottom: 4rem;
}
/* banner */
.color {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  background-color: rgba(53, 63, 165);
  mix-blend-mode: color-burn;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: 52% !important;
  background-size: cover;
  overflow: hidden;
}
@font-face {
  font-family: "elianto";
  src: url(../fonts/Elianto-Regular.ttf);
  font-style: normal;
}
.banner-text-con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  text-align: center;
  height: 135px;
  border-top: 4px solid rgba(35, 35, 90);
  border-left: 4px solid rgba(35, 35, 90);
  border-right: 4px solid rgba(35, 35, 90);
}
/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.banner-text::before {
  content: "";
  border-bottom: 4px solid rgba(35, 35, 90);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  transition: all 0.3s ease;
}
.banner-text::after {
  content: "";
  border-bottom: 4px solid rgba(35, 35, 90);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  transition: all 0.3s ease;
}
/* .banner-link:hover .banner-text::before,
.banner-link:hover .banner-text::after {
  width: 220px;
} */
.full-line.banner-text::before,
.full-line.banner-text::after{
  width: 100%;
}

.banner-text h1 {
  font-size: 1.5rem;
  /* font-size: 3.5rem; */
}
.banner-text h1 b {
  color: rgba(0, 0, 0);
}
.banner-heading {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-link {
  position: absolute;
  bottom: -18px;
  z-index: 5;
}
.banner a {
  background: rgba(35, 35, 90);
  border: 1px solid rgba(35, 35, 90);
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none!important;
  /* margin: 0.5rem 0; */
}
.banner a:hover {
  text-decoration: underline;
  color: #fff;
}

/* start -> Learn How To Repair Any Gadget */
.h2,
h2 {
  font-size: 1.5rem;
}
.content-hr {
  margin: 1rem auto 2.4rem;
}
.learn-img-con {
  margin: 0 auto 0.6rem;
  max-width: 330px;
}
.learn-img-con img {
  /* max-width: 220px; */
  width: 100%;
  flex-basis: 100%;
}
.learn-btn-con {
  width: max-content;
  margin: auto;
}
.learn {
  /* background: #c4c4ff; */
  color: rgba(76, 70, 70);
}
.learn-text {
  height: max-content;
  margin-bottom: 1rem;
}
.learn p {
  font-size: 1rem;
  text-align: center;
}
.learn-links {
  color: rgba(108, 99, 255);
}
.learn-btn {
  background: rgba(108, 99, 255);
  color: white;
}
.learn-btn:hover {
  background: rgba(73, 65, 209);
  color: white;
}
.learn-margin {
  margin-bottom: 4rem;
}
/* animation */
.ani-slide {
  overflow: hidden;
}
.ani-slide-left,
.ani-slide-right {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.learn-btn-con{
  margin: auto auto 0;
}
/* end -> Learn How To Repair Any Gadget */

/* start -> blog cards by swiper */
.tech-news {
  width: 100%;
}
.card {
  padding: 0.1rem;
  box-shadow: 0px 11px 16px -12px #000;
  background-color: rgba(211, 207, 207, 0.22);
  border-radius: 1.25rem;
}
.card-title {
  color: rgba(54, 54, 54);
}
.swiper.mySwiper {
  width: 100%;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  height: 440px;
}
/* .section-tech{
  padding-top: 2.7rem;
} */
.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: max-content !important;
  height: max-content !important;
  opacity: 0.3;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  border-radius: 1.25rem;
}
.card-body {
  padding: 1rem;
}
.mySwiper .swiper-link {
  color: rgba(53, 63, 165);
  font-weight: 600;
}
.mySwiper .swiper-slide.swiper-slide-visible.swiper-slide-active {
  opacity: 1;
}
:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: rgba(35, 35, 90) !important;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  margin-top: 0 !important;
  top: unset !important;
  bottom: 0px !important;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-rtl .swiper-button-prev {
  right: 30% !important;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-rtl .swiper-button-next {
  left: 30% !important;
  /* right: auto; */
}
.mySwiper .swiper-horizontal > .swiper-pagination-bullets,
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.mySwiper .swiper-pagination-custom,
.mySwiper .swiper-pagination-fraction {
  bottom: 0px !important;
}
/* end -> blog cards by swiper */

/* start -> products */

:root {
  --pro-width: 290px;
  --pro-height: 400px;
}
.product-con {
  width: var(--pro-width);
  height: var(--pro-height);
  margin: auto;
  background: rgba(141, 148, 182);
  border-radius: 10px 10px 10px 50px;
  box-shadow: -4px 4px 12px 0 rgba(0, 0, 0, 0.69);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
}
.product-con video {
  width: 100%;
  display: block;
}
.product-vid {
  width: 100%;
  height: 41%;
}
.product-details-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 59%;
  padding: 1rem 0;
}

.product-details {
  width: 90%;
  height: 100%;
  background: rgba(233, 235, 245);
  border-radius: 10px 10px 10px 50px;
  padding: 0.5rem;
}
.product-name {
  color: #000;
}
.product-details p {
  display: none;
}
.product-details table {
  font-size: 13px;
  text-align: left;
  margin: auto;
  color: rgba(54, 54, 54);
}
.product-buy-seemore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-price {
  color: rgba(56, 56, 55);
  font-weight: 600;
  padding-left: 0.25rem;
}
.product-btn {
  background-color: rgba(112, 126, 203);
  border-color: rgba(95, 122, 217);
  color: white;
}
.product-btn:hover,
.product-btn:focus {
  background-color: rgba(74, 93, 201);
  color: white;
}
.product-details h6,
.product-details table {
  margin-bottom: 0.7rem;
}
.tiny-text {
  font-size: 12px;
  color: rgba(116, 110, 110);
}
/* end -> products */

/* start -> meet the team */

.team-con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px 0 40px;
}
.t-card{
  position: relative;
  width: 320px;
  height: 450px;
  margin: 0 30px 30px 30px;
  background: rgba(40, 123, 255);
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  /* box-shadow: 0 15px 0 #fff,
              inset 0 -15px 0 #ffffff40,
              0 45px 0 #00000026; */
  box-shadow: 0 15px 6px 0px #fff, inset 0 -15px 6px rgba(255, 255, 255, 0.251), 0px 35px 15px 0px rgba(0, 0, 0, 0.278);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.t-card::before{
  content: "";
  position: absolute;
  top: -137px;
  left: -37px;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
.tc-2, .tc-3{
  margin-top: 30px;
}
@media (min-width:840px){
  .tc-2{
    margin-top: 0;
  }
}
.tc-1 {
  background: linear-gradient(to bottom, rgba(255, 42, 224), rgba(100, 91, 246));
}
.tc-2{
  background: linear-gradient(to bottom, rgba(255, 236, 97), rgba(243, 33, 215));
}
.tc-3{
  background: linear-gradient(to bottom, rgba(36, 255, 114), rgba(154, 64, 255));
}
.t-icon{
  position: relative;
  width: 140px;
  height: 136px;
  background: #fff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 5px rgba(0,0,0,0.1),
              inset 0 -8px 0 #fff;
  z-index: 50;
  display: flex;
  justify-content: center;
}
.t-icon::before{
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 16px -16px 0 15px #fff;
}
.t-icon::after{
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -16px -16px 0 15px #fff;
}
.t-icon img{
  position: relative;
  z-index: 80;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.t-content{
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 160px;
  text-align: center;
  font-family: 'Poppins';
}
.t-content h4{
  color: #fff;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 800;
}
.t-content p{
  color: #fff;
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: .8rem;
}
.t-card i{
  color: #fff;
  font-size: 4rem;
  opacity: .3;
  pointer-events: none;
  position: absolute;
  bottom: 0;
}
/* end -> meet the team */

/* start -> customer's reviews */

.mySwiper2{
  height: 250px;
}

.mySwiper2 .swiper-slide{
  background: rgba(197, 197, 209);
  background: radial-gradient(circle, rgba(167,167,189,1) 0%, rgba(35,35,90,1) 100%, rgba(65,65,112,1) 100%);
  position: relative;
  overflow: hidden;
  font-family: 'poppins';
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 .quote-text{
  width: 800px;
  font-size: 0.7rem;
  text-align: center;
  padding: 0 20px;
}
.mySwiper2 .lg-quote{
  position: absolute;
  top: -6px;
  left: 6px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.62);
  pointer-events: none;
}
.mySwiper2 .sm-quote{
  position: absolute;
  bottom: -20px;
  right: 6px;
  font-size: 4rem;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, 0.62);
  pointer-events: none;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
  background: rgba(211, 209, 209, 1);
}
/* end -> customer's reviews */

/* start -> achievement */

.achievement-con {
  margin-bottom: 4rem;
}
.achievement-con h3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: max-content;
  text-align: center;
  padding: 1rem 1.5rem;
  background: rgba(141, 148, 182);
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 17px 24px -14px #000;
}
.achievement-con img{
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 30px;
  transform: rotate(20deg);
}
.achievement-con h3 a{
  font-family: 'Poppins';
  color: rgba(255, 244, 71);
  font-size: .75rem;
}
/* end -> achievement */

/* media query */
@media (min-width:350px){
  .t-content p {
    line-height: 1.6;
  }
  .t-content h4 {
    font-size: 1.2rem;
  }
}
@media (min-width:450px){
  .t-content h4 {
    font-size: 1.5rem;
  }
    .t-content p {
    line-height: 2;
    font-size: 1rem;
  }
  .t-card::before {
    left: -120px;
  }
  .mySwiper2 .quote-text {
    font-size: 1rem;
}
}
@media (min-width: 576px) {
  .learn p {
    font-size: 1.1rem;
  }
  .banner-text {
    height: 157px;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 77px;
  }
  .achievement-con h3 a {
    font-size: 1rem;
  }
  .achievement-con img {
    width: 33px;
  }
}
@media (min-width: 768px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 80px;
  }
  .learn-margin {
    margin-bottom: 0;
  }
  .product-con {
    width: calc(var(--pro-width) + 160px);
    height: calc(var(--pro-height) + 100px);
    font-size: 17px;
  }
  .product-vid {
    height: 51%;
  }
  .product-details-con {
    height: 48%;
  }
  .product-details h6,
  .product-details table {
    margin-bottom: 0.85rem;
  }
  .product-name {
    font-size: 1.2rem;
  }
  .product-details table {
    font-size: 15px;
  }
  .achievement-con h3 a {
    font-size: 1.2rem;
  }
  .achievement-con img {
    bottom: -8px;
    width: 36px;
  }
  .mySwiper2 .sm-quote {
    bottom: -28px;
    font-size: 5rem;
  }
  .mySwiper2 .lg-quote {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 36% !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 36% !important;
    /* right: auto; */
  }
  .product-con {
    display: flex;
    flex-flow: row-reverse;
    height: 236px;
    width: 870px;
  }
  .product-vid,
  .product-details-con {
    height: 100%;
  }
  .product-con video {
    width: 100%;
  }
  .product-details {
    padding: 0.5rem;
  }
  .bg-drone-icons {
    width: 160px;
    height: 59px;
    right: 4%;
    top: 10%;
    opacity: .9;
  }
  .achievement-con h3 a {
    font-size: 1.5rem;
  }
  .achievement-con img {
    bottom: -9px;
    left: -8px;
    width: 40px;
  }
  .t-content h4 {
    font-size: 1.5rem;
  }
  .mySwiper2 .sm-quote {
    right: 30px;
    bottom: -18px;
  }
  .mySwiper2 .lg-quote {
    top: 0;
    left: 30px;
  }
}
@media (min-width: 1200px) {
  .banner-text {
    height: 211px;
  }
  .banner-link {
    bottom: -21px;
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .banner a {
    padding: 0.7rem 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 135px;
  }
  .product-con {
    height: 281px;
    width: 1000px;
    font-size: 20px;
  }
  .product-con video {
    width: 102%;
  }
  .product-details {
    padding: 1.2rem;
  }
  .product-name {
    font-size: 1.4rem;
  }
  .product-details table {
    font-size: 16px;
  }
  .product-btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .achievement-con h3 {
   max-width: 1000px;
  }
  .achievement-con h3 a {
    font-size: 1.75rem;
  }
  .achievement-con img {
    width: 43px;
  }
  .tc-3{
    margin-top: 0;
  }
  .mySwiper2 .sm-quote {
    font-size: 7rem;
    bottom: -35px;
  }
  .mySwiper2 .lg-quote {
    font-size: 4rem;
    top: -4px;
  }
}

/* animations */
.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.pulsate-fwd{-webkit-animation:pulsate-fwd .5s ease-in-out both;animation:pulsate-fwd .5s ease-in-out both}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 16:33:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

