@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
body {
  color: rgba(102, 102, 102);
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  margin: 0;
}
section {
  scroll-snap-align: start;
  margin-bottom: 4rem;
}
/* banner */
.color {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.3;
  background-color: rgba(53, 63, 165);
  mix-blend-mode: color-burn;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bann.jpg);
  background-repeat: no-repeat;
  background-position: 52% !important;
  background-size: cover;
  overflow: hidden;
}
@font-face {
  font-family: "elianto";
  src: url(../fonts/Elianto-Regular.ttf);
  font-style: normal;
}
.banner-text-con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  text-align: center;
  height: 135px;
  border-top: 4px solid rgba(35, 35, 90);
  border-left: 4px solid rgba(35, 35, 90);
  border-right: 4px solid rgba(35, 35, 90);
}
/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.9);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.banner-text::before {
  content: "";
  border-bottom: 4px solid rgba(35, 35, 90);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  transition: all 0.3s ease;
}
.banner-text::after {
  content: "";
  border-bottom: 4px solid rgba(35, 35, 90);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  transition: all 0.3s ease;
}
/* .banner-link:hover .banner-text::before,
.banner-link:hover .banner-text::after {
  width: 220px;
} */
.full-line.banner-text::before,
.full-line.banner-text::after{
  width: 100%;
}

.banner-text h1 {
  font-size: 1.5rem;
  /* font-size: 3.5rem; */
}
.banner-text h1 b {
  color: rgba(0, 0, 0);
}
.banner-heading {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-link {
  position: absolute;
  bottom: -18px;
  z-index: 5;
}
.banner a {
  background: rgba(35, 35, 90);
  border: 1px solid rgba(35, 35, 90);
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none!important;
  /* margin: 0.5rem 0; */
}
.banner a:hover {
  text-decoration: underline;
  color: #fff;
}

/* start -> Learn How To Repair Any Gadget */
.h2,
h2 {
  font-size: 1.5rem;
}
.content-hr {
  margin: 1rem auto 2.8rem;
}
.learn-img-con {
  margin: 0 auto 0.6rem;
  max-width: 330px;
}
.learn-img-con img {
  /* max-width: 220px; */
  width: 100%;
  flex-basis: 100%;
}
.learn-btn-con {
  width: max-content;
  margin: auto;
}
.learn {
  /* background: #c4c4ff; */
  color: rgba(76, 70, 70);
}
.learn-text {
  height: max-content;
  margin-bottom: 1rem;
}
.learn p {
  font-size: 1rem;
  text-align: center;
}
.learn-links {
  color: rgba(108, 99, 255);
}
.learn-btn {
  background: rgba(108, 99, 255);
  color: white;
}
.learn-btn:hover {
  background: rgba(73, 65, 209);
  color: white;
}
.learn-margin {
  margin-bottom: 4rem;
}
/* animation */
.ani-slide {
  overflow: hidden;
}
.ani-slide-left,
.ani-slide-right {
  visibility: hidden;
}
/* end -> Learn How To Repair Any Gadget */

/* start -> blog cards by swiper */
.tech-news {
  width: 100%;
}
.card {
  padding: 0.1rem;
  box-shadow: 0px 11px 16px -12px #000;
  background-color: rgba(211, 207, 207, 0.22);
  border-radius: 1.25rem;
}
.card-title {
  color: rgba(54, 54, 54);
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 440px;
}
/* .section-tech{
  padding-top: 2.7rem;
} */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: max-content !important;
  height: max-content !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  border-radius: 1.25rem;
}
.swiper-slide img {
  border-radius: 1.25rem 1.25rem 0 0;
}
.card-body {
  padding: 1rem;
}
.swiper-link {
  color: rgba(53, 63, 165);
  font-weight: 600;
}
.swiper-slide {
  opacity: 0.3;
}
.swiper-slide.swiper-slide-visible.swiper-slide-active {
  opacity: 1;
}
:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: rgba(35, 35, 90) !important;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  margin-top: 0 !important;
  top: unset !important;
  bottom: 15px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30% !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 30% !important;
  /* right: auto; */
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 15px !important;
}
/* end -> blog cards by swiper */

/* start -> products */

:root {
  --pro-width: 290px;
  --pro-height: 400px;
}
.product-con {
  width: var(--pro-width);
  height: var(--pro-height);
  margin: auto;
  background: rgba(141, 148, 182);
  border-radius: 10px 10px 10px 50px;
  box-shadow: -4px 4px 12px 0 rgba(0, 0, 0, 0.69);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
}
.product-con video {
  width: 100%;
  display: block;
}
.product-vid {
  width: 100%;
  height: 41%;
}
.product-details-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 59%;
  padding: 1rem 0;
}

.product-details {
  width: 90%;
  height: 100%;
  background: rgba(233, 235, 245);
  border-radius: 10px 10px 10px 50px;
  padding: 0.5rem;
}
.product-name {
  color: #000;
}
.product-details p {
  display: none;
}
.product-details table {
  font-size: 13px;
  text-align: left;
  margin: auto;
  color: rgba(54, 54, 54);
}
.product-buy-seemore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-price {
  color: rgba(56, 56, 55);
  font-weight: 600;
  padding-left: 0.25rem;
}
.product-btn {
  background-color: rgba(112, 126, 203);
  border-color: rgba(95, 122, 217);
  color: white;
}
.product-btn:hover,
.product-btn:focus {
  background-color: rgba(74, 93, 201);
  color: white;
}
.product-details h6,
.product-details table {
  margin-bottom: 0.7rem;
}
.tiny-text {
  font-size: 12px;
  color: rgba(116, 110, 110);
}
/* end -> products */

/* start -> meet the team */

.team-con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px 40px 40px;
}
.t-card{
  position: relative;
  width: 320px;
  height: 450px;
  margin: 0 30px 30px 30px;
  background: rgba(40, 123, 255);
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  /* box-shadow: 0 15px 0 #fff,
              inset 0 -15px 0 #ffffff40,
              0 45px 0 #00000026; */
  box-shadow: 0 15px 6px 0px #fff, inset 0 -15px 6px rgba(255, 255, 255, 0.251), 0px 35px 15px 0px rgba(0, 0, 0, 0.278);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.t-card::before{
  content: "";
  position: absolute;
  top: -137px;
  left: -37px;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
.tc-1 {
  background: linear-gradient(to bottom, rgba(255, 42, 224), rgba(100, 91, 246));
}
.tc-2{
  background: linear-gradient(to bottom, rgba(255, 236, 97), rgba(243, 33, 215));
}
.tc-3{
  background: linear-gradient(to bottom, rgba(36, 255, 114), rgba(154, 64, 255));
}
.t-icon{
  position: relative;
  width: 140px;
  height: 136px;
  background: #fff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 5px rgba(0,0,0,0.1),
              inset 0 -8px 0 #fff;
  z-index: 50;
  display: flex;
  justify-content: center;
}
.t-icon::before{
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 16px -16px 0 15px #fff;
}
.t-icon::after{
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -16px -16px 0 15px #fff;
}
.t-icon img{
  position: relative;
  z-index: 80;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.t-content{
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 160px;
  text-align: center;
  font-family: 'Poppins';
}
.t-content h4{
  color: #fff;
  margin-bottom: 15px;
  font-size: 1rem;
}
.t-content p{
  color: #fff;
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: .8rem;
}
.t-card i{
  color: #fff;
  font-size: 4rem;
  opacity: .3;
  pointer-events: none;
  position: absolute;
  bottom: 0;
}
/* end -> meet the team */

/* start -> achievement */

.achievement-con {
  margin-bottom: 4rem;
}
.achievement-con h3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: max-content;
  text-align: center;
  padding: 1rem 1.5rem;
  background: rgba(141, 148, 182);
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 17px 24px -14px #000;
}
.achievement-con img{
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 30px;
  transform: rotate(20deg);
}
.achievement-con h3 a{
  font-family: 'Poppins';
  color: rgba(255, 244, 71);
  font-size: .75rem;
}
/* end -> achievement */


/* start-> footer */

footer{
  background-image: url(../images/three-wave.png);
  height: 525px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.enquiry-con{
  max-width: 300px;
  height: max-content;
  padding: 2rem 2rem 2rem 2rem;
  margin: auto;
  background: linear-gradient(45deg, rgba(167, 167, 189), transparent);
  border-radius: 10px;
  position: relative;
  z-index: 99;
}
.fm-group{
  margin-bottom: 1.5rem;
}
.fm-group input{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(35, 35, 90);
  color: rgba(1, 22, 39);
  font-size: 1rem;
}
.fm-group textarea{
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(35, 35, 90);
  color: rgba(1, 22, 39);
  font-size: 1rem;
}
.fm-group1{
  margin-bottom: 0;
  display: flex;
}
.fm-group1 span{
  display: inline-block;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#enquiry-sub-btn{
  cursor: pointer;
  width: 60px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: rgba(201, 201, 241);
  color: rgba(1, 22, 39);
  font-weight: 600;
  position: relative;
}
#enquiry-sub-btn>span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}
/* boot svg icon */
.bi-send-fill{
  cursor: pointer;
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
  font-size: 1rem;
  color: rgba(1, 22, 39);
}

.fm-group1 span:hover .bi-send-fill{
  top:50%;
}
.fm-group1 span:hover #enquiry-sub-btn>span{
  top: -160%;
}
.fm-group input::placeholder,
.fm-group textarea::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(1, 22, 39);
  opacity: 1; /* Firefox */
}

.fm-group input:-ms-input-placeholder,
.fm-group textarea:-ms-input-placeholder
 { /* Internet Explorer 10-11 */
  color: rgba(1, 22, 39);
}

.fm-group input::-ms-input-placeholder,
.fm-group textarea::-ms-input-placeholder
 { /* Microsoft Edge */
  color: rgba(1, 22, 39);
}
.contact-con{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba(216, 215, 217);
}
.phone-num,
.social-media{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}
.phone-num div{
  display: flex;
}
.phone-num p{
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.boot-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  /* width: 40px;
  height: 40px; */
  background: rgba(173, 181, 189);
  color: black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in;
}
.boot-icon i{
  font-size: 1rem;
  /* font-size: 1.5rem; */
  padding: 0 0.45rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tele-icon,
.whatsapp-icon{
  margin-right: 5px;
}
.sm-vr-line{
  width: 1px;
  background: grey;
  margin: 0 10px;
}
.icon-mx{
  margin-top: 1px;
}
.tele-p:hover .tele-icon,
.tele-icon:hover{
  background: rgba(255, 183, 3);
  color: white;
}
.whapp-p:hover .whatsapp-icon,
.whatsapp-icon:hover{
  background: rgba(37, 211, 102);
  color: white;
}
.insta-icon:hover{
  background: rgba(240, 148, 51); 
  background: -moz-linear-gradient(45deg, rgba(240, 148, 51) 0%, rgba(230, 104, 60) 25%, rgba(220, 39, 67) 50%, rgba(204, 35, 102) 75%, rgba(188, 24, 136) 100%); 
  background: -webkit-linear-gradient(45deg, rgba(240, 148, 51) 0%,rgba(230, 104, 60) 25%,rgba(220, 39, 67) 50%,rgba(204, 35, 102) 75%,rgba(188, 24, 136) 100%); 
  background: linear-gradient(45deg, rgba(240, 148, 51) 0%,rgba(230, 104, 60) 25%,rgba(220, 39, 67) 50%,rgba(204, 35, 102) 75%,rgba(188, 24, 136) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
.you-icon:hover{
  background: rgba(241, 241, 241);
}
.insta-icon a:hover{
  color: white;
}
.you-icon a:hover{
  color: rgba(196, 48, 43);
}

.bg-drone-icons{
  background-image: url(../images/drone-icon.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 30px;
  background-size: contain;
  transform: rotate(37deg);
  position: absolute;
  right: 1%;
  top: 0%;
  transition: all .3s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #011627 !important;
}
.copyright{
  position: absolute;
  bottom: 0px;
  left: 15px;
  font-size: 1rem;
  color: rgba(157, 150, 150);
}
/* end -> footer */

/* media query */
@media (min-width:450px){
  .t-content p {
    line-height: 2;
  }
  .t-card::before {
    left: -120px;
  }
}
@media (min-width: 576px) {
  .learn p {
    font-size: 1.2rem;
  }
  .banner-text {
    height: 157px;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 77px;
  }
  .enquiry-con{
    max-width: 350px;
  }
  .bg-drone-icons {
    width: 100px;
    height: 35px;
    right: 2%;
    top: 5%;
  }
  .copyright{
    bottom: 10px;
  }
  .achievement-con h3 a {
    font-size: 1rem;
  }
  .achievement-con img {
    width: 33px;
  }
  .t-content h4 {
    font-size: 1.3rem;
}
  .t-content p {
    font-size: 1rem;
}
}
@media (min-width: 768px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 80px;
  }
  .learn-margin {
    margin-bottom: 0;
  }
  .product-con {
    width: calc(var(--pro-width) + 160px);
    height: calc(var(--pro-height) + 100px);
    font-size: 17px;
  }
  .product-vid {
    height: 51%;
  }
  .product-details-con {
    height: 48%;
  }
  .product-details h6,
  .product-details table {
    margin-bottom: 0.85rem;
  }
  .product-name {
    font-size: 1.2rem;
  }
  .product-details table {
    font-size: 15px;
  }
  .enquiry-con {
    min-width: 550px;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .enquiry-con form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fm-group1{
    flex-basis: 100%;
  }
  .lg-flex{
    margin-bottom: 1.7rem;
  }
  .boot-icon {
    width: 35px;
    height: 35px;
  }
  .achievement-con h3 a {
    font-size: 1.2rem;
  }
  .achievement-con img {
    bottom: -8px;
    width: 36px;
  }
}
@media (min-width: 992px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 36% !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 36% !important;
    /* right: auto; */
  }
  .product-con {
    display: flex;
    flex-flow: row-reverse;
    height: 236px;
    width: 870px;
  }
  .product-vid,
  .product-details-con {
    height: 100%;
  }
  .product-con video {
    width: 105%;
  }
  .product-details {
    padding: 0.5rem;
  }
  .bg-drone-icons {
    width: 160px;
    height: 59px;
    right: 4%;
    top: 10%;
    opacity: .9;
  }
  .achievement-con h3 a {
    font-size: 1.5rem;
  }
  .achievement-con img {
    bottom: -9px;
    left: -8px;
    width: 40px;
  }
  .t-content h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .banner-text {
    height: 211px;
  }
  .banner-link {
    bottom: -21px;
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .banner a {
    padding: 0.7rem 2rem;
  }
  .banner-text::before,
  .banner-text::after {
    width: 135px;
  }
  .product-con {
    height: 281px;
    width: 1000px;
    font-size: 20px;
  }
  .product-con video {
    width: 100%;
  }
  .product-details {
    padding: 1.2rem;
  }
  .product-name {
    font-size: 1.4rem;
  }
  .product-details table {
    font-size: 16px;
  }
  .product-btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .bg-drone-icons {
    width: 180px;
    height: 65px;
    transform: rotate(31deg);
  }
  .achievement-con h3 {
   max-width: 1000px;
  }
  .achievement-con h3 a {
    font-size: 1.75rem;
  }
  .achievement-con img {
    width: 43px;
  }
}

/* animations */
.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.pulsate-fwd{-webkit-animation:pulsate-fwd .5s ease-in-out both;animation:pulsate-fwd .5s ease-in-out both}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 16:33:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}

