* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #3ab490, #196a8c, #1c297c);
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.logo img {
    width: 2.5rem;
}

h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 0 20px 0;
}

/* form container */

.box {
    height: max-content;
    width: 290px;
    background: #d8d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    margin: 0px auto;
    padding: 30px 0px 20px;
}

/* form container */

/* form  */

.box form {
    font-size: 14px;
    color: black;
    margin: auto;
}

.groups {
    height: 73px;
}

.inp_container {
    position: relative;
    margin: 0px auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.input_field {
    width: 254px;
    height: 40px;
    padding: 0 10px;
    background: transparent;
    border: none;
    outline: none;
}

.text_group {
    height: 105px;
}

.textarea_con {
    height: 73px;
}

.textarea_field {
    width: 254px;
    height: 60px;
    border-radius: 7px;
    background: transparent;
    border: none;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.textarea_field:focus {
    outline: none;
}

.inp_container label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
}

.input_field:focus~label {
    left: 5px;
    top: -10px;
    background: #d8d5d5;
    padding: 0 5px;
    font-size: 12px;
}

.textarea_field:focus~label {
    left: 5px;
    top: -10px;
    background: #d8d5d5;
    padding: 0 5px;
    font-size: 12px;
}

label.active {
    left: 5px;
    top: -10px;
    background: #d8d5d5;
    padding: 0 5px;
    font-size: 12px;
}

.inp_container input:focus {
    outline: none;
}

.groups span {
    display: none;
    color: red;
    font-weight: 600;
    font-size: 12px;
}

/* to hide arrows for input type no. */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

/* home/office delivery */

.add-type {
    width: 254px;
    margin: 0 00 15px 0;
}

.add-title {}

.radio-option {
    font-size: 13px;
}

/* reset & submit buttons */

.form_btns {
    display: flex;
    justify-content: space-around;
}

.reset-btn, .submit-btn {
    width: 115px;
    height: 35px;
    border-radius: 11px;
    color: white;
    padding: 0px;
    margin: 0;
    box-shadow:5px 6px 7px -6px black;
}

.reset-btn {
    background: #ff5722;
    border: 1px solid #4a1200;
}

.reset-btn:hover {
    background: #e43804;
    color: white;
    box-shadow:5px 6px 7px -6px black;
}

.submit-btn {
    background: #32b132;
    border: 1px solid #053005;
}

.submit-btn:hover {
    background: #048a04;
    color: white;
    box-shadow:5px 6px 7px -6px black;
}


.reset-btn:focus, .submit-btn:focus {
    outline: none;
}

:focus {
    outline: 0!important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
    color: #008868;
}

.links a {
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #f4f3f3e3;
}

.border-ani:hover {
    color: white;
}

.links span {
    color: #f4f3f3;
}

/* for form validation */

.blue-i {
    border: 1px solid #0097c7;
    color: #0097c7;
}

.red-i {
    border: 1px solid red;
    color: red;
}
/* select list for state css */


/* media queries */
@media (min-width:400px){
    .box {
        width: 340px
    }
    .input_field, .textarea_field {
        width: 290px; 
    }    
}
@media (min-width:576px){
    h2 {
        font-size: 1.35rem;
    }    
    .box {
        width: 440px
    }
    .input_field, .textarea_field {
        width: 360px;
    } 
}
@media (min-width:768px){
    .logo img {
        width: 2.8rem;
    }
    h2 {
        font-size: 1.8rem;
    }    
    .box {
        width: 490px
    }
    .input_field, .textarea_field {
        width: 400px;
    } 
}
@media (min-width:992px){  
    .box {
        width: 850px
    }
    .box form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 15px;
    }
    .input_field{
        width:380px;
    }
    .text_group {
        flex-basis: 93%;
    }
    .textarea_field {
        width: 100%;
    } 
    .add-type{
        flex-basis: 100%;
        padding: 0px 20px 0px 20px;
    }
    .add-title {
        font-size: 17px;
    }
    .radio-option {
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
        padding: 0 0 0 70px;
    }
    .form_btns {
        justify-content: center;
        width: 100%;
    }
    .reset-btn, .submit-btn {
        margin: 0 25px;
    }
    .links a {
        font-size: 14px;
    }
    .groups span{
        font-size: 13px;
    }
    
}

@media (min-width:1200px){
    .logo {
        padding: 10px 10px 8px 10px;
    }
    h2 {
        font-size: 2rem;
    }
    .box {
        width: 920px;
    }
    .input_field {
        width: 395px;
    }
    .text_group {
        flex-basis: 91%;
    }
    .input_field:focus~label, .textarea_field:focus~label, label.active {
        font-size: 14px;
    }
    .links a {
        font-size: 15px;
    }
    .groups span{
        font-size: 14px;
    }
}













/* logo animation */

.vibrate-2{animation:vibrate-2 .6s linear infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-26 13:11:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%
    {-webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}}
@keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
     transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}
}