* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #3ab490, #196a8c, #1c297c);
}

.main_container {
    margin-top: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.logo img {
    width: 2.5rem;
}

h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 0 20px 0;
}

/* form container */

.box {
    height: max-content;
    width: 290px;
    background: #d8d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    margin: 0px auto;
    padding: 30px 0px;
}

/* form container */

/* form  */

.box form {
    font-size: 14px;
    color: black;
    margin: auto;
}

.groups {
    height: 73px;
}

.inp_container {
    position: relative;
    margin: 0px auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.input_field {
    width: 250px;
    height: 40px;
    padding: 0 10px;
    background: transparent;
    border: none;
    outline: none;
}

.inp_container label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
}

.input_field:focus~label {
    left: 5px;
    top: -10px;
    background: #d8d5d5;
    padding: 0 5px;
    font-size: 12px;
}

label.active {
    left: 5px;
    top: -10px;
    background: #d8d5d5;
    padding: 0 5px;
    font-size: 12px;
}

.inp_container input:focus {
    outline: none;
}

/* validation messages */

#message_em, #message_pass {
    color: red;
    font-weight: 600;
    display: none;
}

.forgot_pass {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    margin: -10px 0 0 20px;
}

.forgot_pass a, .new-ac a {
    font-size: 12px;
    color: #0026af;
    text-decoration: none;
    transition: all .3s;
}

.forgot_pass a:hover, .new-ac a:hover {
    color: #000c52;
}

.new-ac {
    font-size: 12px;
}

/* submit button */

.submit {
    display: block;
    font-weight: 400;
    border-radius: .25rem;
    height: 40px;
    width: 120px;
    background: #060c21;
    color: white;
    border: 1px solid gray;
    font-size: 18px;
    margin: -10px 0 0 0px;
    cursor: pointer;
}

.submit:hover {
    background: linear-gradient(315deg, #3ab490, #196a8c, #1c297c);
    color: white;
    border: 1px solid white;
}

.submit:focus {
    outline: none;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
    color: #008868;
}

.links a {
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #f4f3f3e3;
}

.border-ani:hover {
    color: white;
}

.links span {
    color: #f4f3f3;
}



/* for form validation */

.blue-i {
    border: 1px solid #0097c7;
    color: #0097c7;
}

.red-i {
    border: 1px solid red;
    color: red;
}

/* media queries */

@media (min-width:400px) {
    .box {
        width: 375px;
    }
    .input_field {
        width: 280px;
    }
}

@media (min-width:500px) {
    h2 {
        font-size: 1.2rem;
    }
    .input_field {
        width: 330px;
    }
    .forgot_pass a, .new-ac, .new-ac a {
        font-size: 14px;
    }
}

@media (min-width:768px) {
    h2 {
        font-size: 1.4rem;
    }
    .box {
        width: 400px;
    }
    .input_field {
        width: 340px;
    }
}

@media (min-width:900px){
    .box form{
        font-size: 15px;
    }
}

@media (min-width:1200px) {
    .logo img {
        width: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    .box {
        width: 485px;
    }
    .input_field {
        width: 400px;
    }
    .forgot_pass a, .new-ac, .new-ac a {
        font-size: 16px;
    }
    .links a {
        font-size: 14px;
    }
    .input_field:focus~label, .textarea_field:focus~label, label.active {
        font-size: 14px;
    }
}









/* logo animation */

.vibrate-2{animation:vibrate-2 .6s linear infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-26 13:11:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%
    {-webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}}
@keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
     transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}
}