* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #3ab490, #196a8c, #1c297c);
}

.main-container {
    flex-basis: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 2.5rem;
}

h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.container {
    position: relative;
    width: 90%;
    margin: auto;
}

.container .box {
    position: relative;
    height: 400px;
    background: #090f2485;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
    color: white;
}

.container .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: 20px;
}

.container .box:nth-child(1):before {
    /*background: #c31432;*/
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #240b36, #c31432);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #240b36, #c31432);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(90deg, #1c297ced 24%, #1e85e9f9 85%);
}

.container .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /*background:#ffffff0d;*/
    background: #ffffff05;
    pointer-events: none;
}

form {
    padding: 0 20px;
    width: 100%;
}

/* login and mobile bunny up and down effect */

.box h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 19.5rem;
    left: 50%;
    transform: translate(-50%, 0px);
    /* centering horizontally */
    margin: 0px;
    padding: 0px;
    color: #ffffff12;
    transition: 1s;
    z-index: -1;
}

.box h4 {
    font-size: 3rem;
    color: #ffffff29;
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0px;
    padding: 0px;
    transition: 1s;
    display: none;
    z-index: -1;
}

.box:hover h2 {
    top: -3px;
    font-size: 2.2rem;
    color: #ffffff2b;
}

.box:hover h4 {
    top: 20.5rem;
    font-size: 2.5rem;
    color: #ffffff40;
}

.groups {
    height: 75px;
}

.inp-container {
    position: relative;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.inp-container label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
    cursor: text;
    font-size: 14px;
}

.input-field:focus~label {
    left: 5px;
    top: -10px;
    background: #162c5e;
    padding: 0 5px;
    font-size: 12px;
    background: linear-gradient(90deg, #172351, #163063);
}

label.active {
    left: 5px;
    top: -10px;
    /*background: #d8d5d5;*/
    padding: 0 5px;
    font-size: 12px;
    background: linear-gradient(90deg, #172351, #163063);
}

.inp-container input:focus {
    outline: none;
}

.forgot-pass {
    width: 100%;
    text-align: right;
    margin: -10px 0 0 0px;
}
 
 .submit {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin: -10px 0 12px 0px;
    height: 40px;
    width: 105px;
    text-align: center;
    text-decoration: none;
    /*background: #4a614500;*/
 }
.submithover, .submit:focus{
    color:#fff;
    outline:none;
}
.submit{
    background-image: linear-gradient(45deg,#196a8c 50%, #1c297c 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all .5s ease-in-out;
}
.submit:hover{
    background-position: 0;
}

/* .submit {
    display: block;
    font-weight: 400;
    border-radius: .25rem;
    height: 40px;
    width: 105px;
    background: #4a614500;
    color: white;
    border: 1px solid #fff;
    font-size: 18px;
    margin: -10px 0 0 0px;
    cursor: pointer;
    text-align: center;
} */
/*
.submit:hover {
    background: linear-gradient(315deg, #3ab490, #196a8c, #1c297c);
    color: white;
    border: 1px solid white;
}

.submit:focus {
    outline: none;
} */









.new-ac{
    font-size: 15px;
}
.new-ac a, .forgot-pass a {
    color: #f3f3f3;
    text-decoration: none;
    transition: all .3s;
    font-size: 15px;
}

.new-ac a:hover, .forgot-pass a:hover {
    color: #b9b9b9;
}

/* footer */

.footer {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
    color: #008868;
}

.links a {
    text-decoration: none;
    position: relative;
    font-size: 11px;
    font-weight: bold;
    color: #f4f3f3e3;
}

.border-ani:hover {
    color: white;
}

.links span {
    color: #f4f3f3;
}

/* for form validation */

.blue-i {
    border: 1px solid #0097c7;
    color: #0097c7;
}

.red-i {
    border: 1px solid #e03333;
    color: #e03333;
}

#message-em, #message-pass {
    color: #e03333;
    font-weight: 600;
    display: none;
    font-size: 12px;
    margin-top: 2px;
}


/* MQ */

@media (min-width:360px) {
    .links a {
        font-size: 12px;
    }
}

@media (min-width:450px) {
    h2 {
        font-size: 1.2rem;
    }
    .input-field {
        font-size: 15px;
    }
    .input-field:focus~label {
        font-size: 13px;
        top: -9px;
    }
    .inp-container label {
        top: 12px;
        font-size: 13px;
    }
    label.active {
        top: -11px;
        font-size: 13px;
    }
    .links a {
        font-size: 13px;
    }
    #message-em, #message-pass {
        font-size: 14px;
    }
}

@media (min-width:576px) {
    h2 {
        font-size: 1.4rem;
    }
    form {
        width: 85%;
    }
    .box:hover h2 {
        top: 0px;
        font-size: 2.5rem;
    }
    /* .inp-container label {
        top: 9px;
        font-size: 13px;
    }
    label.active {
        top: -11px;
        font-size: 13px;
    } */
    .links a {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    form {
        width: 75%;
    }
    #message-em, #message-pass {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    form {
        width: 45%;
    }
    h2 {
        font-size: 1.6rem;
    }
    .box h2 {
        font-size: 5.5rem;
        top: 16.1rem;
        left: 20px;
        transform: translate(0%, 0px);
    }
    .box:hover h2 {
        top: 0px;
        left: 35px;
        font-size: 4.5rem;
    }
    .box h4 {
        display: block;
    }
}

@media (min-width:1200px) {
    h2 {
        font-size: 2rem;
    }
    .box h2 {
        font-size: 6rem;
        top: 15.5rem;
        left: 50px;
    }
    .box:hover h2 {
        left: 45px;
        font-size: 6rem;
    }
    .box h4 {
        font-size: 3.3rem;
    }
    .box:hover h4 {
        font-size: 3.3rem;
        right: 30px;
        top: 19rem;
    }
    form {
        width: 38%;
    }
    .inp-container label {
        top: 9px;
        font-size: 15px;
    }
    label.active {
        top: -12px;
        font-size: 14px;
    }
    .input-field:focus~label {
        font-size: 14px;
        top: -10 px;
    }
    .input-field {
        font-size: 16px;
    }
    #message-em, #message-pass {
        font-size: 16px;
    }
    .new-ac{
        font-size: 17px;
    }
    .new-ac a, .forgot-pass a {
        font-size: 15px;
    }
}



/* logo animation */

.vibrate-2{animation:vibrate-2 .6s linear infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-26 13:11:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%
    {-webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}}
@keyframes vibrate-2{0%{
    -webkit-transform:translate(0);
    transform:translate(0)}20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)}40%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)}60%{
    -webkit-transform:translate(2px,2px);
     transform:translate(2px,2px)}80%{
    -webkit-transform:translate(2px,-2px);
    transform:translate(2px,-2px)}100%{
    -webkit-transform:translate(0);
    transform:translate(0)}
}

