* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* filter and sort */

.filter_sort_container {
    text-align: center;
    flex-basis: 100%;
    font-size: 14px;
    display: flex;
    box-sizing: border-box;
    width: 96%;
    color: #1b3f82;
    background: #f1f1f1;
    border-radius: 10px;
    margin: 10px auto;
    border: 1px solid #2a918e;
    box-shadow: 18px -15px 15px rgba(255, 255, 255, 0.2), 6px 10px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.sort, .filter {
    flex: 1;
    height: 26px;
    line-height: 1.9;
    cursor: pointer;
}

.sort {
    border-right: 1px solid#2a918e;
    border-radius: 10px 0px 0px 10px;
}

.filter {
    border-left: 1px solid #2a918e;
    border-radius: 0px 10px 10px 0px;
}

.sort:hover, .filter:hover {
    background: #2a918e;
    color: white;
    border: 1px solid #dddddd;
    box-shadow: 18px -15px 15px rgba(255, 255, 255, 0.2),
                6px 10px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.sort_alert {
    display: none;
    width: 250px;
    height: 186px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -93px 0 0 -125px;
    background: #f1f1f1;
    border: 1px solid #2a918e;
    box-shadow: -15px -15px 15px rgba(138 138 138 / 20%),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.sort_alert ul, .filter_alert ul {
    padding: 14px 20px 10px 20px;
    margin-bottom: 0px;
}

.sort_close_icon, .filter_close_icon {
    font-size: 20px;
    font-weight: 600;
    color: #375c92;
}

.sort_heading, .filter_heading {
    display: flex;
    justify-content: space-between;
    padding: 6px 4px 0 20px;
    font-weight: 600;
    border-bottom: 1px solid #2a918e;
    width: 95%;
    margin: auto;
}

.sort_close_icon:hover, .filter_close_icon:hover {
    color: #b60d0d;
    cursor: pointer;
}

.sort_alert ul li {
    list-style: none;
}

.sort_alert label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/*  */

.filter_alert {
    display: none;
    width: 260px;
    height: 410px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -162px 0 0 -130px;
    background: #f1f1f1;
    border: 1px solid #2a918e;
    box-shadow: -15px -15px 15px rgba(138 138 138 / 20%),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.filter_heading {
    font-weight: 600;
    margin-bottom: 5px;
    width: 95%;
    margin: 0 auto 4px;
    border-bottom: 1px solid #2a918e;
}

.filter_options {
    overflow-y: auto;
    height: 320px;
    font-size: 14px;
}
.filter_options input{
    margin-top: 5px;
}

/* css for scrollbar inside filter */

.filter_options::-webkit-scrollbar {
    width: 3px;
}

.filter_options::-webkit-scrollbar-thumb {
    background: #2a918e7d;
    border-radius: 30px;
    display: none;
}

.filter_options:hover::-webkit-scrollbar-thumb {
    display: block;
}

.filter_alert ul li {
    list-style: none;
    margin-bottom: 15px;
}

.filter_alert label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.f-price, .f-brand, .f-cam, .f-os, .f-bt {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.p-drop label span, .b-drop label, .c-drop label, .o-drop label, .bt-drop label {
    margin-left: 22px;
}

.filter_btn_container {
    width: 95%;
    margin: 4px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 3px 10px 0px;
    height: max-content;
    border-top: 1px solid #2a918e;
}

.filter_btn_container p {
    margin: 0;
}

.filter_apply_btn {
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #060c21;
    color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

.filter_apply_btn:hover {
    background: linear-gradient(315deg, #3ab490, #196a8c, #1c297c);
    border: 1px solid white;
}

.filter_apply_btn:focus {
    outline: none;
}

@media (min-width:576px) {
    .filter_heading {
        font-size: 17px;
    }
    .filter_alert {
        height: 440px;
        width: 274px;
        margin: -168px 0 0 -137px;
    }
    .filter_options {
        height: 350px;
        font-size: 15px;
    }
    .sort_alert {
        width: 330px;
        margin-left: -165px;
        font-size: 17px;
    }
}

@media (min-width:768px) {
    .sort, .filter {
        height: 30px;
        line-height: 2;
    }
    .sort_alert {
        width: 340px;
        height: 206px;
        margin: -103px 0 0 -170px;
        font-size: 20px;
    }
}
@media(min-width:900px){
    .filter_sort_container{
        display: none!important;
    }
}

/* filter and sort */


/* phone boxes */

/* filter box 2 for desktop view */
@media (min-width:900px){
    .main_container{
        display: flex;
    }
}

.filter2{
    display: none;
    width: 250px;
    border-radius: 10px;
    margin: 15px;
    background: #f1f1f1;
    border: 1px solid #2a918e;
    box-shadow: -15px -15px 15px rgba(138 138 138 / 20%),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: max-content;
}
@media (min-width:900px){
    .filter2{
        display: block;
    }
}
@media (min-width:1000px){
    .filter2{
        margin: 16px 16px 16px 35px;
    }
}
.filter2 h4{
    color: #5d5d5d;
    padding: 4px 0 4px 10px;
    border-bottom: 2px solid #2a918ebf;
    display: inline-block;
    width: 221px;
    margin: 5px 0 0 13px;
}
.filter2 input{
    margin-top: 5px;
}
.filter-drop{
     display: none; 
    padding: 14px 20px 10px 20px;
    margin-bottom: 0px;
}

.filter-head{
    padding: 5px 0 0 10px;
    font-size: 18px;  
    cursor: pointer;  
}
#filter-u-arrow{
    margin-left: 152px;
}

.filter-drop a{
    display: block;
    padding: 0 0 0 30px;
    text-decoration: none;
    color: darkcyan;
    margin: 0 0 4px 16px;
}
.filter-head img{
    width: 14px;
}

.hl-line{
    border-bottom: 1px solid #2a918ebf;
    width: 198px;
    margin: 5px 0 5px 24px;
}
#filter-d-arrow{
    margin-left: 152px;
}
#brand-downarrow{
    margin: 0 0 0 140px;
}
#cam-downarrow{
    margin-left: 45px;
}
#os-downarrow{
    margin-left: 169px;
}
#bat-downarrow{
    margin-left: 129px;
}
#d-battery{
    margin-bottom: 8px;
}
.check{
    margin: 0 11px 0 0;
}
.filter-drop label{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


/* filter box 2 for desktop view */



.phone_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 3;
    margin-top: 15px;
}

.phone-box{
    display: flex;
    width: 97%;
    height: max-content;
    background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid #2a918e;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.phone-box a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration:none;
}

.p-img{
    flex:1;
}
.p-img img{
    width: 91px;
    margin: 9px 7px;  
}
.p-detail{
    flex:3;
    font-weight: 500;
    padding: 16px 0 0 17px;
}
.p-detail h5{
    font-size: .7rem;
    font-weight: 600;
}
.p-price{
    font-size: .8rem;
}
.p-detail h5:hover{
    text-decoration: underline;
}
.p-detail ul{
    padding: 0 0 0 35px;
    cursor: text;
}
.p-detail ul li{
    font-size: 10px;
    font-weight: 400;
    padding: 6px 0 0 0;
}

@media (min-width:576px){
    .phone-box{
        width:90%;
    }
    .p-detail h5, .p-price {
        font-size: .9rem;
    }
    .p-detail ul li {
        font-size: 12px;    
    }
}
@media (min-width:768px){
    .p-detail h5, .p-price {
        font-size: 1.2rem;
    }
    .p-detail ul li {
        font-size: 14px;    
    }
    .p-img img{
        width:98px;
        margin: 9px 7px 9px 30px;
    }
}
@media (min-width:1000px){
    .phone-box {
        width: 94%;
    }
    .p-img img{
        width: 130px;
    }
    .p-detail h5, .p-price {
        font-size: 1.5rem;
    }
    .p-detail ul li {
        font-size: 17px;
    }
}

/* phone boxes */
