:root {
  --bg-clr: #ecf0f3;
  --card-clr: #ecf0f3;
  --inp-clr: #fff;
  --box-shd-up: #fff;
  --box-shd-down: #cbced1;
  --inp-border: #ced4da;
  --inp-text: #000;
  --form-focus-bx-sd: #00000000;
  --form-focus-border: #000;
  --btn-clr: #f8f9fa;
  --btn-bg: #8c000c;
  --btn-bg-hov: #6d040d;
  --dl-mode: #2b2a33;
  --dl-mode-2: #fff;
  --link: #0d6efd;
  --error: red;
  --search-bar: #a51e24;
  /* --bg-clr: #2b2a33;
    --card-clr : #42414d;
    --inp-clr: #38383d; */
}
.dark {
  --bg-clr: #2b2a33;
  --card-clr: #42414d;
  --inp-clr: #38383d;
  --box-shd-up: rgba(255, 255, 255, 0.05);
  --box-shd-down: rgba(0, 0, 0, 0.5);
  --inp-border: #636364;
  --inp-text: #fff;
  --form-focus-bx-sd: #ffffff00;
  --form-focus-border: #fff;
  --btn-clr: #2f2f2f;
  --btn-bg: #fff;
  --btn-bg-hov: #dddddd;
  --dl-mode: #fff;
  --dl-mode-2: #2b2a33;
  --link: #25d2ee;
  --error: #f03838;
  /* color: #2f2f2f !important;
background: #fff !important; */
}

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

/* main = add post and showing post */
.main-con {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.add-post-block {
  padding: 1rem;
  margin: 1.5rem auto;
  border: 1px solid #a51e24;
  border-radius: 3px;
  max-width: 600px;
}
#inp-caption {
  width: 100%;
  padding: 0.5rem;
  /* margin-bottom: 0.7rem; */
  border: none;
  border-bottom: 1px solid #a51e24;
}
.display-img-vid-con {
  display: none;
  margin-bottom: 0.7rem;
}
.display-img-vid-con img {
  width: 100%;
}
.btn-img-vid,
.btn-sub-post {
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.btn-img-vid{
  background: #027214;
    padding: 0.35rem 0;
}
.btn-img-vid i {
  background: #027214;
}
.btn-img-vid span {
  background: #219b35;
  display: none;
}
.btn-img-vid i,
.btn-sub-post i {
  padding: 8px 12px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.btn-sub-post i {
  background: #810006;
}
#inp-sub-post {
  display: none;
}
#inp-img-vid {
  display: none;
}
/* showing other people's post */
.post-block {
  padding: 1rem;
  margin: 1.5rem auto;
  border: 1px solid #a51e24;
  border-radius: 3px;
  max-width: 600px;
}

/* posts css */
.emp-pro-img-con {
  display: flex;
  align-items: flex-end;
  width: max-content;
}
.emp-pro-img-con img {
  width: 45px;
  margin-right: 10px;
  border-radius: 3px;
}

.emp-pro-img-con .emp-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.emp-pro-img-con .post-date {
  color: #504a4a;
  font-size: 0.76rem;
}
.post-main img {
  width: 100%;
}
.emp-img-vid {
  margin-bottom: 0.7rem;
}

/* like and comment */
.like-cmt-con {
  display: flex;
  justify-content: flex-end;
}
.btn-comment {
  margin-left: 1.5rem;
}
.btn-like i,
.btn-comment i {
  color: #a51e24;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .navbar {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .nav-ham-search {
    display: none;
  }
  .nav-search {
    display: block;
    flex-grow: 0.2;
  }
  .main-con {
    max-width: 500px;
  }
  .btn-img-vid span,
  #inp-sub-post {
    display: inline;
  }
  .btn-img-vid,
  .btn-sub-post {
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
  .btn-img-vid i {
    background: #027214;
  }
  .btn-img-vid span {
    background: #219b35;
  }
  .btn-img-vid i,
  .btn-sub-post i {
    padding: 8px 12px;
    border-radius: 3px 0px 0px 3px;
    color: #fff;
    cursor: pointer;
  }
  .btn-img-vid span,
  .btn-sub-post input {
    padding: 8px 12px 8px 5px;
    border-radius: 0px 3px 3px 0px;
    color: #fff;
    cursor: pointer;
  }
  .btn-sub-post i {
    background: #810006;
  }
  .btn-sub-post,
  .btn-sub-post input {
    background: #a51e24;
    border: none;
  }
  .btn-sub-post input {
    padding: 7px 12px 6px 5px;
  }
  #inp-img-vid {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  .navbar-brand img {
    width: 55px;
  }
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  .main-con {
    max-width: 700px;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
  }
  .collapse-menu {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
  }
  .navbar-toggler {
    display: none;
  }
  .main-con {
    max-width: 800px;
  }
}
@media screen and (min-width: 1110px) {
  .collapse-menu {
    width: 46%;
  }
  .navbar-nav li:nth-of-type(2) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-con {
    max-width: 870px;
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
