.main-con{
  position: relative;
}
.head {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  /* max-width: 600px; */
  width: 100%;
  margin: 1.5rem auto 0;
}
.bio-data {
  padding: 1rem;
  position: relative;
  /* z-index: 2; */
}
.profile-pic-con {
  width: 157px;
  height: 157px;
  border-radius: 3px;
  overflow: hidden;
  margin: auto;
  position: relative;
  border: 1px solid #bf676b;
}
.profile-pic-con img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: fill; */
  /* border-radius: 3px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.user-name-con {
  text-align: center;
}
.row1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row3{
  display: grid;
}
.profile-pic-con,
.designation-con,
.bio-con,
.btn-con {
  margin-bottom: 15px;
}
.user-name-con{
  margin-bottom: 5px;
}
.designation-con {
}
.bio-con {
  text-align: center;
}
.btn-con {
  display: grid;
  width: 100%;
  grid-template-columns: 110px 138px;
  justify-content: center;
  grid-column-gap: 15px;
}

.user-name-con h3,
.designation-con h6,
.bio-con p {
  margin: 0;
}

/* start-> edit pro btn and album btn */

.btn-edit-pro,
.btn-album {
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: none;
  overflow: hidden;
}
.btn-edit-pro i,
.btn-album i {
  padding: 7px 12px 9px 12px;
  border-radius: 3px 0 0 3px;
  color: #fff;
  cursor: pointer;
}

.btn-edit-pro span,
.btn-album span {
  padding: 6px 10px 7px 9px;
  border-radius: 0 3px 3px 0;
  display: inline-block;
}
.btn-edit-pro {
  background: #0d6efd;
}
.btn-edit-pro i {
  background: #0c55c1;
}
.btn-album,
.btn-album span {
  background: #6c757d;
}
.btn-album i {
  background: #53575a;
}

.btn-edit-pro span::before {
  background-color: #0c55c1;
}
.btn-album span::before {
  background-color: #53575a;
}
.btn-edit-pro span::before,
.btn-album span::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0px 3px 3px 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms linear;
}
.btn-edit-pro:hover span::before,
/* .btn-edit-pro:focus span::before, */
.btn-album:hover span::before,
.btn-album:focus span::before {
  transform: scaleX(1);
}
.btn-edit-pro span,
.btn-album span {
  /* background-color: #0d6efd; */
  position: relative;
  z-index: 1;
}

/* .btn-edit-pro:hover span,
.btn-edit-pro:hover{
  background: #0c55c1;
} */
/* end-> edit pro btn and album btn */

.hr-line {
  width: 100%;
  border: none;
  height: 45px;
  border-bottom: 1px solid #a51e24;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
.nav-link:hover {
  color: #a51e24 !important;
  font-weight: 500;
}

/* edit form style */
.main-form-con {
}
.form-con {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: #fff;
  width: max-content;
  height: max-content;
  padding: 2rem;
}
.form-con form {
}
.group {
  width: 250px;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-con form label {
  flex-basis: 100%;
}
.form-con form input {
  flex-basis: 100%;
  border: none;
  border-bottom: 1px solid #a51e24;
  font-size: 17px;
}

/* start -> modal edit form */

.form-group {
  width: 90%;
  margin: 0 auto 1.8rem auto;
  position: relative;
}
.form-group label {
  position: absolute;
  top: -13px;
  left: 11px;
  background: white;
  color: #605a5a;
  padding: 0 0.4rem;
}
.form-group input,
.form-group textarea {
  border-radius: 3px;
  border: 1px solid #ababab;
  padding: 0.6rem 1em;
  width: 100%;
}
.modal-pro-pic-con {
  margin: 0 auto 1rem auto;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.modal-pro-pic-con img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: fill; */
  /* border-radius: 3px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-group-1 {
  width: 90%;
  margin: 0 auto 1.8rem auto;
  position: relative;
}
.form-group-1 .btn-con {
  display: flex;
  justify-content: center;
}
#inp-img{
  /* to hide input:file, input:file not working when given d:none */
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}
#modal-sub-btn {
  margin: auto;
  display: block;
}
input,
textarea {
  background: transparent;
}

/* end -> modal edit form */

/* start -> modal form scrollbar */

.modal-body::-webkit-scrollbar {
  width: .5rem;
}
 
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 10px;
}

/* end -> modal form scrollbar */

/* start-> backend validations disappering dialog box/alert */

/* .msg-con{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -70%;
  z-index: 1100; 
  transition: all 1s cubic-bezier(.25,.46,.45,.94);
}
.top-zero{
  top: 0%;
}
.msg-details{
  width:100%;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0px 12px 20px -10px #2a5650;
  display: none;
}
.msg-suc{
  display: flex;
  background: #d1e7dd;
  color: green;
}
.msg-err{
  display: flex;
  color: #842029;
  background-color: #f8d7da;
}
.msg-close{
  cursor: pointer;
} */

/* end-> backend validations disappering dialog box/alert */
#confirm-delete{
  z-index: 99999!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

@media (min-width: 768px) {
  .bio-data {
    display: grid;
    width: 100%;
    grid-template-columns: 157px auto;
    grid-column-gap: 15px;
  }
  .profile-pic-con {
    margin: 0;
  }
  .row1 {
    align-items: flex-start;
  }
  .row2 {
    display: grid;
    grid-template-columns: 338px 140px;
  }
  .btn-con {
    grid-template-columns: 140px;
    margin-bottom: 0;
    grid-template-rows: max-content max-content;
    align-content: end;
    justify-items: end;
  }
  .bio-con {
    text-align: left;
    margin-bottom: 0;
  }
  .btn-edit-pro {
    margin-right: 0;
    margin-top: 0.8rem;
  }
  .msg-details{
    width: 600px;
  }
}

@media (min-width:992px){
  .row2 {
    grid-template-columns: 438px 140px;
  }
}

@media (min-width:1200px){
  .row2 {
    grid-template-columns: 507px 140px;
  }
}
