@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none!important;
}
body{
    background-image: url(dark-city.jpg);
    background-color: #151a1d;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-attachment:fixed;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

/* menu btn */
.menu-btn{
    width: 40px;
    height: 40px;
    position: relative;
    background:none;
    border: none;
    cursor: pointer;
}
.menu-btn span{
    width: 40px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    transition: all .3s;
}
.menu-btn span::before{
    content: "";
    width: 40px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: -10px;
    transition: all .3s;
}
.menu-btn span::after{
    content: "";
    width: 40px;    
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 10px;
    transition: all .3s;
}

/* close btn */
.menu-btn.close span{
    width: 40px;
    height: 2px;
    background: none;
    display: block;
    position: absolute;
}
.menu-btn.close span::before{
    content: "";
    width: 40px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
}
.menu-btn.close span::after{
    content: "";
    width: 40px;    
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}
/* menu items */
nav{
    position: relative;
}
nav ul{
    position: absolute;
    top: -20px;
    right: 20px;
    text-align: right;
    display: none;
    transition: all .3s;
}
.dp-none, .banner h1{
    display: none;
}
.dp-block{
    display: block;
}
nav ul li{
    list-style: none;
    padding: 10px 0;
}
nav ul li a{
    text-decoration: none;
    color: #dccd2a;
    font-family: 'Amarante', cursive;
    font-size: 1.1rem;
}
/* logo */
.banner .logo img{
    width: 100px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    /* transform: scaleX(-1); */
    border-radius: 50%;
}
.banner h1, .banner h3{
    color:#dccd2a;
    font-family: 'Amarante', cursive;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    letter-spacing: 2px;
}

@media screen and (orientation : landscape) {
    .banner h1, .banner h3 {
        top: 63%;
    }
}

@media screen and (min-width:768px) {
    .banner h1{
        display: block;
    }
    .banner h3{
        display: none;
    }
}


/* animation */
.slide-bottom {
    -webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }











/* nav */

/*
 nav{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 1rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #dccd2a;
    font-family: 'Amarante', cursive;
    font-size: 1.3rem;
}

.logo img{
    width: 80px;
    transform: scaleX(-1);
    border-radius: 50%;
} 
*/